<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus unde exercitationem aliquid dolore error, placeat nam culpa porro enim? Commodi reiciendis consequuntur delectus natus nostrum quisquam facere cupiditate excepturi, repudiandae pariatur quibusdam eos illo perspiciatis beatae ea suscipit. Quos, enim.</p>
    </div>
</div>